
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d4b894;
    color: #241102;
}


.title {
    width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #816540;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-general {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar styling */
.navbar {
    background-color: #816540;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 15px; /* Horizontal spacing between items */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px; /* Rounded corners */
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #96886e;
    color: #503f2c;
    transform: scale(1.05);
}

.hero-image {
    text-align: center;
    margin-top: 20px;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.additional-images {
    text-align: center;
    margin-top: 20px;
}

.additional-images img {
    width: 60%;
    height: auto;
    border-radius: 8px; 
}

section h2 {
    width: 800px;
    margin: 20px auto;
    background-color: #816540;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
    color: #241102;
}

section h3 {
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 835px;
    margin: 0 auto;
}

section p {
    font-size: 16px;
    line-height: 2;
    color: #50463b; 
    text-align: center;
}


section ul {
    text-align: center;
    list-style: none;
    padding: 10px 0;
}

section li {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

section li span:first-child {
    color: #241102;
}

section li span:last-child {
    color: #50463b;
}
